.container {
    display: flex;
    align-items: center;
    width: 80%;
    height: 100%;
}

.formsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.forms {
    background: #fff;
    padding: 50px 20px 10px;
    box-shadow: 5px 10px 8px #888888;
    border-radius: 4px;
}

.listContainer {
    width: 0px;
}

.formsContainer,
.listContainer {
    height: 100%;
}

h1 {
    color: #672079;
    font-family: 'Blinker', sans-serif;
    text-transform: uppercase;
    margin: none;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.list {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    overflow-y: auto;
    justify-content: stretch;
    align-items: stretch;
}

@media only screen and (max-width: 1366px) {
    .container {
        flex-direction: column;
    }

    .listContainer,
    .formsContainer {
        width: 100%;
        margin-top: 20px;
    }

    .listContainer {
        height: 0;
    }

    .list {
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (max-width: 800px) {
    .list {
        align-items: stretch;
    }
}
